body {
  font-size: 16px;
  line-height: 1.2;
  background-color: #ffffff;
  color: black;
  font-family: Sans-serif;
}
body {
  background: #fff url(css-exercise-two/images/instagram-pic.jpg) no-repeat top center;
}

nav {
  background-color: rgba(0,0,0,0.2);
  float: left;
  position: no-repeat;
  width: 100%;
}

header {
  font-size: 10px;
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
  text-align: left;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
